USE [SIGECAC]
GO
/****** Object:  Table [dbo].[EPO_NIVEL]    Script Date: 06/29/2009 19:19:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EPO_NIVEL](
	[ID_NIVEL] [bigint] NOT NULL,
	[FID_CRITERIO_EVALUACION] [bigint] NOT NULL,
	[NOMBRE] [varchar](50) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[DESCRIPCION] [text] COLLATE Modern_Spanish_CI_AS NULL,
	[PESO] [float] NOT NULL,
 CONSTRAINT [PK_EPO_NIVEL] PRIMARY KEY CLUSTERED 
(
	[ID_NIVEL] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[EPO_NIVEL]  WITH CHECK ADD  CONSTRAINT [FK_EPO_NIVEL_EPO_CRITERIO_EVALUACION] FOREIGN KEY([FID_CRITERIO_EVALUACION])
REFERENCES [dbo].[EPO_CRITERIO_EVALUACION] ([ID_CRITERIO_EVALUACION])
GO
ALTER TABLE [dbo].[EPO_NIVEL] CHECK CONSTRAINT [FK_EPO_NIVEL_EPO_CRITERIO_EVALUACION]