<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    <filter>
        <filter-name>MyFacesExtensionsFilter</filter-name>
        <filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
        <init-param>
            <param-name>uploadMaxFileSize</param-name>
            <param-value>20m</param-value>
        </init-param>
        <init-param>
            <param-name>uploadThresholdSize</param-name>
            <param-value>100k</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>MyFacesExtensionsFilter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MyFacesExtensionsFilter</filter-name>
        <url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MyFacesExtensionsFilter</filter-name>
        <url-pattern>*.jsf</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.jsp</welcome-file>
    </welcome-file-list>















    <security-constraint>
        <display-name>index</display-name>
        <web-resource-collection>
            <web-resource-name>index</web-resource-name>
            <description/>
            <url-pattern>/faces/index.jsp</url-pattern>
            <url-pattern>/faces/subsistemas.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>sigecac-realm</realm-name>
        <form-login-config>
            <form-login-page>/faces/login.jsp</form-login-page>
            <form-error-page>/faces/login-error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>Alumno</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Docente</role-name>
    </security-role>
    <ejb-local-ref>
        <ejb-ref-name>TipoArchivoBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.upn.sigecac.epo.bc.TipoArchivoLocal</local>
        <ejb-link>edu.upn.sigecac.epo-ejb.jar#TipoArchivoBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RubricaBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.upn.sigecac.epo.bc.RubricaLocal</local>
        <ejb-link>edu.upn.sigecac.epo-ejb.jar#RubricaBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PeticionBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.upn.sigecac.epo.bc.PeticionLocal</local>
        <ejb-link>edu.upn.sigecac.epo-ejb.jar#PeticionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CursoFacadeBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local-home/>
        <local>edu.upn.sigecac.gcu.bc.CursoFacadeLocal</local>
        <ejb-link>edu.upn.sigecac.gcu-ejb.jar#CursoFacadeBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ClaseFacadeBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local-home/>
        <local>edu.upn.sigecac.gen.bc.ClaseFacadeLocal</local>
        <ejb-link>edu.upn.sigecac.gen-ejb.jar#ClaseFacadeBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EsquemaGrupoBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.upn.sigecac.epo.bc.EsquemaGrupoLocal</local>
        <ejb-link>edu.upn.sigecac.epo-ejb.jar#EsquemaGrupoBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PeriodoAcademicoBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.upn.sigecac.epo.bc.PeriodoAcademicoLocal</local>
        <ejb-link>edu.upn.sigecac.epo-ejb.jar#PeriodoAcademicoBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PublicacionBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.upn.sigecac.epo.bc.PublicacionLocal</local>
        <ejb-link>edu.upn.sigecac.epo-ejb.jar#PublicacionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ResultadoProgramaFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.upn.sigecac.pac.bc.ResultadoProgramaFacadeLocal</local>
        <ejb-link>edu.upn.sigecac.pac-ejb.jar#ResultadoProgramaFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CapacidadMedibleFacadeBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.upn.sigecac.pac.bc.CapacidadMedibleFacadeLocal</local>
        <ejb-link>edu.upn.sigecac.pac-ejb.jar#CapacidadMedibleFacadeBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CriterioFacadeBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.upn.sigecac.pac.bc.CriterioFacadeLocal</local>
        <ejb-link>edu.upn.sigecac.pac-ejb.jar#CriterioFacadeBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>NivelFacadeBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.upn.sigecac.pac.bc.NivelFacadeLocal</local>
        <ejb-link>edu.upn.sigecac.pac-ejb.jar#NivelFacadeBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CriterioEvaluacionBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.upn.sigecac.epo.bc.CriterioEvaluacionLocal</local>
        <ejb-link>edu.upn.sigecac.epo-ejb.jar#CriterioEvaluacionBean</ejb-link>
    </ejb-local-ref>


    <ejb-local-ref>
        <ejb-ref-name>EvaluacionPublicacionBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.upn.sigecac.epo.bc.EvaluacionPublicacionLocal</local>
        <ejb-link>edu.upn.sigecac.epo-ejb.jar#EvaluacionPublicacionBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>EvaluacionCriterioBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.upn.sigecac.epo.bc.EvaluacionCriterioLocal</local>
        <ejb-link>edu.upn.sigecac.epo-ejb.jar#EvaluacionCriterioBean</ejb-link>
    </ejb-local-ref>

    <ejb-local-ref>
        <ejb-ref-name>ComentarioBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.upn.sigecac.epo.bc.ComentarioLocal</local>
        <ejb-link>edu.upn.sigecac.epo-ejb.jar#ComentarioBean</ejb-link>
    </ejb-local-ref>

    <ejb-local-ref>
        <ejb-ref-name>AlarmaBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.upn.sigecac.epo.bc.AlarmaLocal</local>
        <ejb-link>edu.upn.sigecac.epo-ejb.jar#AlarmaBean</ejb-link>
    </ejb-local-ref>




    </web-app>
