<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>com.sun.faces.verifyObjects</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    <filter>
        <filter-name>MyFacesExtensionsFilter</filter-name>
        <filter-class>org.apache.myfaces.webapp.filter.ExtensionsFilter</filter-class>
        <init-param>
            <param-name>uploadMaxFileSize</param-name>
            <param-value>20m</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>MyFacesExtensionsFilter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MyFacesExtensionsFilter</filter-name>
        <url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MyFacesExtensionsFilter</filter-name>
        <url-pattern>*.jsf</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/subsistemas.jsp</welcome-file>
        </welcome-file-list>
    <security-constraint>
        <display-name>Grupo/Usuario/Rol</display-name>
        <web-resource-collection>
            <web-resource-name>Mtto. de Grupo</web-resource-name>
            <description/>
            <url-pattern>/faces/grupo/*</url-pattern>
            <url-pattern>/faces/rol/*</url-pattern>
            <url-pattern>/faces/usuario/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Docente</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>index</display-name>
        <web-resource-collection>
            <web-resource-name>Index</web-resource-name>
            <description/>
            <url-pattern>/faces/index.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Subsistemas</web-resource-name>
            <description/>
            <url-pattern>/faces/subsistemas.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Alumno</role-name>
            <role-name>Docente</role-name>
            </auth-constraint>
        </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>sigecac-realm</realm-name>
        <form-login-config>
            <form-login-page>/faces/login.jsp</form-login-page>
            <form-error-page>/faces/login-error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>Docente</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Alumno</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Jefe de Carrera</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Decano</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Director de Carrera</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Comite de Acreditacion de Ingenieria de Sistemas</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Coordinador de Area</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Asistente de Escuela</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Encargado de Facultad</role-name>
    </security-role>
    </web-app>
