<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
  <persistence-unit name="edu.upn.sigecac.epo-ejbPU" transaction-type="JTA">
    <jta-data-source>jdbc/sigecac</jta-data-source>
    <class>edu.upn.sigecac.epo.be.Alarma</class>
    <class>edu.upn.sigecac.epo.be.Comentario</class>
    <class>edu.upn.sigecac.epo.be.CriterioEvaluacion</class>
    <class>edu.upn.sigecac.epo.be.EsquemaGrupo</class>
    <class>edu.upn.sigecac.epo.be.EvaluacionCriterio</class>
    <class>edu.upn.sigecac.epo.be.EvaluacionPublicacion</class>
    <class>edu.upn.sigecac.epo.be.Grupo</class>
    <class>edu.upn.sigecac.epo.be.PeriodoAcademico</class>
    <class>edu.upn.sigecac.epo.be.Peticion</class>
    <class>edu.upn.sigecac.epo.be.Publicacion</class>
    <class>edu.upn.sigecac.epo.be.Rubrica</class>
    <class>edu.upn.sigecac.epo.be.TipoArchivo</class>
    <class>edu.upn.sigecac.epo.be.Usuario</class>
    <class>edu.upn.sigecac.epo.be.Visita</class>
    <class>edu.upn.sigecac.gcu.be.Area</class>
    <class>edu.upn.sigecac.gcu.be.Carrera</class>
    <class>edu.upn.sigecac.gcu.be.Ciclo</class>
    <class>edu.upn.sigecac.gcu.be.Curso</class>
    <class>edu.upn.sigecac.gcu.be.EdicionCurso</class>
    <class>edu.upn.sigecac.gcu.be.Equivalencia</class>
    <class>edu.upn.sigecac.gcu.be.Especializacion</class>
    <class>edu.upn.sigecac.gcu.be.EspecializacionCurso</class>
    <class>edu.upn.sigecac.gcu.be.EstandaresCuantificadores</class>
    <class>edu.upn.sigecac.gcu.be.MallaCurricular</class>
    <class>edu.upn.sigecac.gcu.be.MallaEstandares</class>
    <class>edu.upn.sigecac.gcu.be.NivelProfesional</class>
    <class>edu.upn.sigecac.gcu.be.ObjetivoCurso</class>
    <class>edu.upn.sigecac.gcu.be.Prerequisito</class>
    <class>edu.upn.sigecac.gcu.be.SubArea</class>
    <class>edu.upn.sigecac.gen.be.Alumno</class>
    <class>edu.upn.sigecac.gen.be.Clase</class>
    <class>edu.upn.sigecac.gen.be.ComiteEjecutivo</class>
    <class>edu.upn.sigecac.gen.be.Docente</class>
    <class>edu.upn.sigecac.gen.be.Empleador</class>
    <class>edu.upn.sigecac.gen.be.GrupoObjetivo</class>
    <class>edu.upn.sigecac.gen.be.Persona</class>
    <class>edu.upn.sigecac.pac.be.CapacidadMedible</class>
    <class>edu.upn.sigecac.pac.be.Criterio</class>
    <class>edu.upn.sigecac.pac.be.DetalleMatrizAlineamientoObjetivosEducacionales</class>
    <class>edu.upn.sigecac.pac.be.DetalleMatrizAlineamientoResultadosPrograma</class>
    <class>edu.upn.sigecac.pac.be.MatrizAlineamientoObjetivosEducacionales</class>
    <class>edu.upn.sigecac.pac.be.MatrizAlineamientoResultadosPrograma</class>
    <class>edu.upn.sigecac.pac.be.Nivel</class>
    <class>edu.upn.sigecac.pac.be.ObjetivoEducacional</class>
    <class>edu.upn.sigecac.pac.be.ResultadoPrograma</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties/>
  </persistence-unit>
</persistence>
